<%- include('parts/top.ejs')%>
<br><br><br>
<div class="navbardecoration">
<div class="addiconnave" >
    <div class="row col-md-8" >
        <div class="col-lg-2 col-md-4">
<img class="books-heading books1-heading-books1" alt="">
</div>

    <div class="col-lg-2 col-md-4">
<img class="books-heading books2-heading-books2" alt="">
    </div>
    <div class="col-lg-2 col-md-4">
<img class="books-heading books3-heading-books3" alt="">
</div>
<div class="col-lg-2 col-md-4">
<img class="books-heading books4-heading-books4" alt="">
</div>
</div>
</div>
</div>
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filters-content">
                        <div class="row grid">
                            <% for (let book of books) {%>
                                <div class="col-lg-4 col-md-4 all des">
                                    <div class="product-item">
                                        <a href="/books/<%= book._id %>" target="_blank">
                                            <img style="height: 300px;" src="/upload/<%=book.image%>" alt=""></a>
                                        <div class="down-content">
                                            <a href="/books/<%= book._id %>" target="_blank">
                                                <h4>
                                                    <%=book.title%>
                                                </h4>
                                            </a>
                                            <h6 style="color: #c26d2d;">$
                                                <%=book.price%>
                                            </h6>

                                            <p ><%=book.description%></p>
                                            <ul class="stars">
                                                <a href="" style="color:#b3937c;">
                                                    <%= book.author  %>
                                                </a>
                                            </ul>
                                            <div>
                                                <a class="text-body " href="">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-empty" ></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="pages">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <%-include('parts/bottom.ejs')%>